<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/template.css">
        <link rel="stylesheet" href="styles/style.css">
        <script src="../_framework/_base_pearson/config.js" type="text/javascript" charset="utf-8"></script>
        <script src="../_framework/_base_external/mootools-core-1.5.0-full-compat-yc_with-mootools-more-flashcards-fix.js" type="text/javascript" charset="utf-8"></script>
    </head>

    <body>
        <div class="container">
            <div class="MetrodigiWidget Experiment">
                <article class="widget-content">
                    <header class="widget-header">
                        <nav class="widget-header-menu">
                            <ul class="elements-6">
                                <li class="slide-1 slide-2 slide-3 slide-4 active"><div class="arrowtab"><button tabindex="0">Introduction</button></div></li>
                                <li class="slide-5 slide-6 slide-7"><div class="arrowtab"><button tabindex="0">Instructions</button></div></li>
                                <li class="slide-8 slide-9 slide-10"><div class="arrowtab"><button tabindex="0">Experiment</button></div></li>
                                <li class="slide-11 slide-12 results"><div class="arrowtab"><button tabindex="0">Results</button></div></li>
                                <li class="slide-13"><div class="arrowtab"><button tabindex="0">Discussion</button></div></li>
                                <li class="slide-14"><div class="arrowtab"><button tabindex="0">References</button></div></li>
                            </ul>
                        </nav>
                    </header>
                    <section class="widget-body">
                        <!-- INTRODUCTION -->

                        <article class="slide slide-1 adjust-text active" data-next-slide="2" tabindex="0">

                            <img class="expandable constrain-height" src="images/labeled-brain.png" alt="" />
                            <p>Since the beginning of scientific interest in the human brain, philosophers, physiologists, and psychologists have been trying to determine specifically what parts of the brain are responsible for what behaviors. Advances in experimental procedures and technology have led scientists to draw many conclusions about the functional organization of the brain. As you can see, different parts of the brain have different functions.</p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                            <p class="undo_label" tabindex="0">Your previous results have been cleared. <a href="#" class="undo">Undo</a></p>
                        </article>

                        <article class="slide slide-2 adjust-text" data-prev-slide="1" data-next-slide="3">
                            <img class="expandable constrain-height" src="images/brain-hemispheres.jpg" alt="" />
                            <p>The brain is divided into two hemispheres (left and right) which are connected by the corpus callosum. Two functions that are clearly lateralized (associated with one side or the other) are language and spatial skills (Corina, et al., 1992; Peterson & Fiez, 1993; Bradshaw & Nettleton, 1981). Well-designed and controlled studies consistently find that the left hemisphere is superior in language function while the right hemisphere is superior in spatial relationships.</p>
                            <p>Much of what we know about the functioning of the two hemispheres comes from research conducted on split-brain patients. The "split-brain" procedure is a surgical technique used for patients who have a seizure disorder and for whom anti-convulsant medications do not help to stop the seizures in the brain. The procedure involves separating the two hemispheres of the brain by severing the corpus callosum.</p>
                            <p>The corpus callosum is a cluster of several nerve fibers that connect the left and right hemispheres, allowing each hemisphere to send information to the other. Severing the corpus callosum can reduce the likelihood that a seizure will spread from one hemisphere to the other.</p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                        </article>

                        <article class="slide slide-3 question" data-prev-slide="2" data-next-slide="4">
                            <!--<img src="images/brain-body-crosslaterality.png" alt="" />-->
                            <p>However, one effect of severing the corpus collosum is that now the two hemispheres can no longer send information back and forth to each other. Importantly, information in the right hemisphere (which does not process language) can no longer be sent to the left hemisphere (which does). This means that split-brain patients have trouble verbally naming an object if only their right hemisphere sees it. </p>
                            <p>How does a person “see” an object in only one hemisphere? To answer that, you must understand how the eyes send information to each hemisphere.</p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                        </article>

                        <article class="slide slide-4 adjust-text question" data-prev-slide="3" data-next-slide="5">
                            <img class="expandable constrain-height" src="images/visual-fields.jpg" alt="" />
                            <p>When a person stares straight ahead, their peripheral vision is made up of what’s in their left and right visual field. As you can see in the figure, because of the organization of the neurons that carry information from the eyes to the hemispheres, information presented to the right visual field is sent to the left hemisphere of the brain and information presented to the left visual field is sent to the right hemisphere of the brain. </p>
                            <p>Therefore, we can expose the two hemispheres to a language test and use it to determine if the left hemisphere is dominant in language function.</p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                        </article>

                        <!-- INSTRUCTIONS -->

                        <article class="slide slide-5 adjust-text question" data-prev-slide="4" data-next-slide="6">
                            <img src="images/experiment-preview.png" alt="" />
                            <p>The following experiment will test the language abilities of the two hemispheres of the brain.</p>
                            <p>Students will be presented with a group of letters, or letter string to the left or right side of a flashing dot and asked to determine if it represents a real word or if it is a nonsense combination of letters.</p>
                            <p>Exposing the two hemispheres to a language test in this way can help determine if the left hemisphere is dominant in language function by being more accurate or faster at this linguistic task than the right hemisphere.</p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                        </article>

                        <article class="slide slide-6 adjust-text question" data-prev-slide="5" data-next-slide="7">
                            <!--<img class="expandable constrain-height" src="images/visual-fields.jpg" alt="" />-->
                            <p>To begin each trial in the experiment, you will be asked to press the enter key on your keyboard. Once you press the enter key, you will see a red dot in the middle of the screen. Please stay focused on the dot as it flashes three times.
                            </p><p>After the third flash of the dot, a group of letters, or letter string, will be presented to the left or right side of the dot. The letters will be presented for a fraction of a second. 
                                When you detect the letter string, you are to determine if it represents a real word, or if it is a nonsense combination of letters. You need to determine whether or not it is a word as quickly as possible. However, when the letter string appears, DO NOT move your eyes off of the dot. Instead, try to make your determination using only your peripheral vision.
                            </p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                        </article>

                        <article class="slide slide-7 adjust-text question" data-prev-slide="6" data-next-slide="8">
                            <img class="expandable constrain-height" src="images/visual-fields.jpg" alt="" />
                            <p>If the letter string represents a real word, please press the “R” key on your keyboard or tap the “R” button. If the letter string represents a nonsense combination of letters, press the “U” key on your keyboard or tap the "U" button. Please remain focused on the red circle in the middle of the monitor. Try to keep your fingers on the “R” and “U” keys or buttons.</p>
                            <p>You will be given 5 practice trials before the experimental trials begin. The experiment will track the amount of time it takes you to respond and whether or not you are accurate in determining if the word is “real” or not.</p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                        </article>

                        <!-- EXPERIMENT -->

                        <article class="slide slide-8 question practice experiment" data-prev-slide="7" >
                            <img class="constrain-height" src="images/lightbulb.png" alt="" />
                            <p>In preparation for the actual experiment, first complete this shortened, practice experiment consisting of 5 practice trials. Remember, you need to stay focused on the red dot in the center of the screen and respond with an “U” if the word flashed on the screen is a nonsense word, or respond with a “R” if the word is an actual word.</p>
                            <p>Again, when the text string appears, do not shift your gaze to it. Instead, keep focused on the red dot and try to read the text with your peripheral vision. Keep your face as close to the screen as is comfortable to further ensure you are viewing the letter strings with your peripheral vision. About 12 to 18 inches away is optimum.</p>
                            <p>When you are ready, <span class="responsive-call-to-action">click</span> the “Start Practice Experiment" button to begin.</p>
                        </article>

                        <article class="slide slide-9" data-next-slide="10" tabindex="0">
                            <img src="images/experiment-preview.png" alt="" />
                            <p>Here is a recap of the trials in the practice experiment:</p>
                            <strong>Stimuli presented on the right</strong>
                            <ul class="results results-right"></ul>
                            <strong>Stimuli presented on the left</strong>
                            <ul class="results results-left"></ul>
                        </article>

                        <article class="slide slide-10 adjust-text actual experiment" data-prev-slide="9">
                            <img src="images/experiment-preview.png" alt="" />
                            <p>Now that you've completed the practice experiment with 5 trials, you can proceed to the actual experiment with 40 trials.  Please be conscientious and respond to all trials as quickly and diligently as you can. This experiment will take between 10 and 12 minutes to complete. If you cannot complete the entire experiment in one sitting, the results will not be valid.</p><p>When you are ready, <span class="responsive-call-to-action">click</span> the "Start Experiment" button to begin.</p>
                        </article>

                        <!-- RESULTS -->

                        <article class="slide slide-11" data-next-slide="12" tabindex="0">
                            <p>In the graphs of your results, you will see both your accuracy (Figure 1), and your response time (Figure 2 on the next screen) for each hemisphere. Because the left hemisphere is more specialized in language function, we would expect that your left hemisphere should be more accurate than your right hemisphere at identifying the letter string. In Figure 1 was your left hemisphere more accurate?</p>
                             <figure id="graph1" aria-hidden="true">
                                <div class="title">Figure 1. Percentage Correct</div>
                                <div class="main-graph">
                                    <!--<div class="bar bar4"><span>88.4</span></div>-->                                    
                                    <div class="bar bar3"><span></span></div>
                                    <!--<div class="bar bar2"><span>91.3</span></div>-->
                                    <div class="bar bar1"><span></span></div>
                                </div>
                                <div class="legend-axis-y">Percent Correct</div>
                                <ul class="axis-y">
                                    <li>100</li>
                                    <li>80</li>
                                    <li>60</li>
                                    <li>40</li>
                                    <li>20</li>
                                    <li>0</li>                                      
                                </ul>
                                <div class="axis-x"><div>Right brain hemisphere</div><div>Left brain hemisphere</div></div>                                
                                <!--<div class="legend"><div>Your percentage correct</div><div>Global percentage correct</div></div>-->

                            </figure>
                            <div class="hidden">
                                <strong class="results-string results-string-right">Stimuli presented on the right &mdash; <span class="percent"></span>% correct (<span class="num-questions"></span> out of <span class="num-total-questions"></span>)</strong>
                                <ul class="results results-right"></ul>
                                <strong class="results-string results-string-left">Stimuli presented on the left &mdash; <span class="percent"></span>% correct (<span class="num-questions"></span> out of <span class="num-total-questions"></span>)</strong>
                                <ul class="results results-left"></ul>
                            </div>
                        </article>
                        
                        <article class="slide slide-12" data-next-slide="13" data-prev-slide="11">
                           <p>Some people have very high, even perfect, accuracy in both hemispheres on this task. For people with an intact corpus collosum this simply means that the information in the right hemisphere did travel over to the left hemisphere for language processing. However, that process takes time and, as a result, responses to stimuli presented to the right hemisphere are usually slower than left hemisphere responses. In Figure 2, did you find that your right hemisphere was slower (the taller the bar, the slower the reaction time) than your left hemisphere? If so, this supports the idea that you process language on the left side of your brain.</p>
                            <figure id="graph2">
                                <div class="title">Figure 2. Reaction Time</div>
                                <div class="main-graph">
                                    <!--<div class="bar bar4"><span>387.4</span></div>-->                                    
                                    <div class="bar bar3"><span></span></div>
                                    <!--<div class="bar bar2"><span>382</span></div>-->
                                    <div class="bar bar1"><span></span></div>
                                </div>
                                <div class="legend-axis-y">Reaction Time</div>
                                <ul class="axis-y">
                                    <li class="p5">700</li>
                                    <li class="p4">560</li>
                                    <li class="p3">420</li>
                                    <li class="p2">280</li>
                                    <li class="p1">140</li>
                                    <li class="p0">0</li>                                      
                                </ul>
                                <div class="axis-x"><div>Right brain hemisphere</div><div>Left brain hemisphere</div></div>                                
                                <!--<div class="legend"><div>Your reaction time</div><div>Global reaction time</div></div>-->
                            </figure>
                            
                           
                        </article>

                        <!-- DISCUSSION -->

                        <article class="slide slide-13 adjust-text-total " data-next-slide="14"  data-prev-slide="12">
                            <img class="constrain-height" src="images/unlabeled-brain.jpg" alt="" />
                            <p>If you are like most people, you found that your left hemisphere was more accurate and/or faster at this linguistic task than your right hemisphere. However, not everyone produces those results. You might be one of those extraordinary people who do not demonstrate traditional lateralization of their hemispheres. While this is contrary to what scientists observe in the larger population, it points out to us the importance of knowing that in any population there are individual differences. Specifically, about 20% of left-handed individuals process language primarily in their right hemisphere instead of their left (Taylor et. al., 1990).</p>
                            <p>Experiments like the one you just completed, as well as other research techniques and neurological imaging studies have demonstrated that, for most people, language processing is handled by the left hemisphere. An important consequence of this is that people who suffer damage to the left hemisphere, via a stroke for example, often have difficulty understanding or producing language. Similar damage to the right hemisphere often leaves language intact.</p>
                            <p>Hemispheric Lateralization is an area in science that will continue to make new discoveries. You should be encouraged to follow the research in this area as scientists uncover more and more information on how the brain works.</p>
                            <p><strong><span class="responsive-call-to-action">Click or tap</span> Next to continue.</strong></p>
                        </article>

                        <!-- REFERENCES   -->

                        <article class="slide slide-14 adjust-text-total last" data-prev-slide="13">
                            <p>Bradshaw, J.L., & Nettleton, N.C. (1981). The nature of hemispheric specialization in man. Behavioral and Brain Sciences, 4, 51-91.</p>
                            <p>Corina, D.P., Vaid, J., & Belugi, U. (1992). The linguistic basis of left-hemisphere specialization. Science, 255, 1258-1260.</p>
                            <p>Gazzaniga, M.S. (1983). Right hemisphere language following brain bisection: A 20-year perspective. American Psychologist, 38, 525-537.</p>
                            <p>Peterson, S.E., & Fiez, J.A. (1993). The processing of single words studied with positron emission tomography. Annual Review of Neuroscience, 16, 509-530.</p>
                            <p>Taylor, Insup. & Taylor, M. Martin. (1990). Psycholinguistics : learning and using language. Englewood Cliffs, N.J : Prentice Hall</p>                            
                        </article>
                    </section>
                    <footer class="widget-footer">
                        <button class="reset">Restart Experiment</button>
                        <button class="start-experiment practice">Start Practice Experiment</button>
                        <button class="start-experiment actual">Start Experiment</button>
                        <button class="next">Next</button>
                        <button class="previous">Previous</button>
                        <button class="close-img-overlay">Close</button>
                    </footer>
                </article>
            </div>

        </div>

        <script type="text/javascript" src="javascript/experiment.js"></script>
        <script type="text/javascript" src="javascript/script.js"></script>
        <script src='../_framework/_base_pearson/responsive.js' type='text/javascript'></script>
        <script type="text/javascript">
            window.addEvent('domready', function() {
                var data = {
                    sets: [
                        {
                            words: [
                                {"word": "STARM", "alignment": "left", "answer": "U"},
                                {"word": "GRAPE", "alignment": "left", "answer": "R"},
                                {"word": "JELBY", "alignment": "right", "answer": "U"},
                                {"word": "RIGHT", "alignment": "left", "answer": "R"},
                                {"word": "SLIDE", "alignment": "right", "answer": "R"}
                            ]
                        },
                        {
                            words: [
                                {"word": "GROUP", "alignment": "left", "answer": "R"},
                                {"word": "DREAM", "alignment": "left", "answer": "R"},
                                {"word": "TROOL", "alignment": "right", "answer": "U"},
                                {"word": "RIVEX", "alignment": "left", "answer": "U"},
                                {"word": "TABLE", "alignment": "right", "answer": "R"},
                                {"word": "CURLY", "alignment": "left", "answer": "R"},
                                {"word": "WHERE", "alignment": "left", "answer": "R"},
                                {"word": "DRIPE", "alignment": "right", "answer": "U"},
                                {"word": "FRAME", "alignment": "right", "answer": "R"},
                                {"word": "HORSE", "alignment": "left", "answer": "R"},
                                {"word": "LEERN", "alignment": "left", "answer": "U"},
                                {"word": "MOOSE", "alignment": "right", "answer": "R"},
                                {"word": "STRIP", "alignment": "left", "answer": "R"},
                                {"word": "PAILS", "alignment": "right", "answer": "R"},
                                {"word": "BURST", "alignment": "right", "answer": "R"},
                                {"word": "FALST", "alignment": "left", "answer": "U"},
                                {"word": "BROWN", "alignment": "right", "answer": "R"},
                                {"word": "REACH", "alignment": "left", "answer": "R"},
                                {"word": "ROSST", "alignment": "left", "answer": "U"},
                                {"word": "YARTS", "alignment": "left", "answer": "U"},
                                {"word": "GOSSE", "alignment": "right", "answer": "U"},
                                {"word": "APSLE", "alignment": "left", "answer": "U"},
                                {"word": "SENGS", "alignment": "right", "answer": "U"},
                                {"word": "COUCH", "alignment": "right", "answer": "R"},
                                {"word": "PHONE", "alignment": "left", "answer": "R"},
                                {"word": "RADIF", "alignment": "left", "answer": "U"},
                                {"word": "BLACK", "alignment": "right", "answer": "R"},
                                {"word": "PEACH", "alignment": "left", "answer": "R"},
                                {"word": "TRIBL", "alignment": "right", "answer": "U"},
                                {"word": "SMILE", "alignment": "left", "answer": "R"},
                                {"word": "STAKT", "alignment": "left", "answer": "U"},
                                {"word": "PLEAG", "alignment": "left", "answer": "U"},
                                {"word": "CHARM", "alignment": "right", "answer": "R"},
                                {"word": "TRIRK", "alignment": "left", "answer": "U"},
                                {"word": "PROAF", "alignment": "left", "answer": "U"},
                                {"word": "STOLE", "alignment": "left", "answer": "R"},
                                {"word": "BRAIB", "alignment": "right", "answer": "U"},
                                {"word": "SHEFG", "alignment": "left", "answer": "U"},
                                {"word": "CHAOR", "alignment": "right", "answer": "U"},
                                {"word": "BOATS", "alignment": "right", "answer": "R"}
                            ]
                        }
                    ]
                };

                // Widget initialization
                widget = new Hemispheric_Experiment({
                    container: $$('.MetrodigiWidget')[0],
                    delay: 1000,
                    data: data
                });
            })
        </script>

    </body>
</html>
