<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8"><link rel="stylesheet" href="../_framework/_base_pearson/redSerif.css"></head><body epub:type="bodymatter" class="bodymatter">
        <section class="chapter" epub:type="chapter"><section class="bodymatter"><!-- REMEMBER TO CHANGE WIDGET PATH FROM ../* TO widgets/* --><!-- START EMBED CODE --><figure id="fig58"><header><h1 class="title">
                        <span class="leadin">
                            <span class="label">Figure</span>
                            <span class="number">5.8</span>
                        </span>
                    </h1>
                    <p class="subtitle">Schedules of Reinforcement </p>
                </header><div class="lc_ec_image lc_ec_image_1">
                   <iframe class="gadget" src="index.html" height="570" width="746" lang="en-us" title="Schedules of Reinforcement" data-responsivedesigned="no" data-minwidth="525" data-minheight="570" data-lmsrequired="no" data-offlinesupport="yes" data-displaytarget="embed">
                <!--<p class="fallback" >There is on error on the page. iframe path cannot be found or minimum height/width attributes are insufficient.</p>-->
                </iframe>
                </div>
                <figcaption><div class="caption">
                        <p>In both the fixed interval and fixed ratio graphs, there is a pause after each reinforcement as the learner briefly &ldquo;rests.&rdquo; The &ldquo;scalloped&rdquo; shape of the fixed interval curve is a typical indicator of this pause, as is the stair-step shape of the fixed ratio curve. In the variable interval and ratio schedules, no such pause occurs, because the reinforcements are unpredictable. Notice that both fixed and variable interval schedules are slower (less steep) than the two ratio schedules because of the need to respond as quickly as possible in the ratio schedules.</p>
                    </div>
                </figcaption></figure><!-- END EMBED CODE --></section></section></body></html>
