<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/template.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="../_framework/_base_pearson/button-bar.css">
        <script src="../_framework/_base_pearson/config.js" type="text/javascript" charset="utf-8"></script>
        <script src="../_framework/_base_external/mootools-core-1.5.0-full-compat-yc_with-mootools-more-flashcards-fix.js" type="text/javascript" charset="utf-8"></script>
        <script src='../_framework/_base_pearson/responsive.js' type='text/javascript'></script>
        <script src='../_framework/_base_pearson/score.js' type='text/javascript'></script>
    </head>

    <body>
        <div class='container'>
            <div class="MetrodigiWidget">
                <article class="widget-content">
                    <header class="widget-header">
                        <div class="notes">
                            <div class='note' data-stage="initial" tabindex='0'><strong>Study the functioning of cochlear implants and <span class="responsive-call-to-action">tap or click</span> “Check Your Understanding” when you’re ready to review.</strong></div>
                            <div class='note current-question' tabindex='0' data-stage="quiz"></div>
                            <div class='note result' data-stage="result"></div>
                        </div>
                    </header>
                    <section class="widget-body no-padding">
                        <div class='stageWrap'>
                            <canvas class='imgCanvas' width="700" height="424" ></canvas>
                            <img class="imagedescription" src="images/cochlear-1.png" width="0" height="0" alt="A cross section of the ear showing a cochlear implant connected to a speech processor and the cochlea, as well as the auditory nerve going from the cochlea to the brain."  />
                            <div class='bubble'
                                 data-step="1"
                                 data-correct-answer='microphone'
                                 data-position-x='25' data-position-y='0'
                                 data-line='{ "x": 175,  "y": 133, "from": "bottom" }'
                                 data-label='Where does a cochlear ear implant pick up sound from the environment?'>

                                <div class='dropdown'
                                     data-type='UL'
                                     data-options='cochlea,auditory nerve,electrode array,implant,speech processor,headpiece,microphone'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step="2"
                                 data-correct-answer='headpiece'
                                 data-position-x='140' data-position-y='0'
                                 data-line='{ "x": 177, "y": 127, "from": "bottom" }'
                                 data-label='Where does a cochlear ear implant pick up sound from the environment?'>

                                <div class='dropdown'
                                     data-type='MR'
                                     data-options='cochlea,auditory nerve,electrode array,implant,speech processor,headpiece,microphone'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step="4"
                                 data-correct-answer='speech processor'
                                 data-position-x='265' data-position-y='315'
                                 data-line='{ "x": 240,  "y": 315, "from": "left" }'
                                 data-label='How is the sound prepared for the brain?'>

                                <div class='dropdown'
                                     data-type='BR'
                                     data-options='cochlea,auditory nerve,electrode array,implant,speech processor,headpiece,microphone'>
                                </div>
                            </div>


                            <div class='bubble'
                                 data-step="6"
                                 data-correct-answer='implant'
                                 data-position-x='265' data-position-y='100'
                                 data-line='{ "x": 242,  "y": 100, "from": "left" }'
                                 data-label='What transmits signals to the brain?'>

                                <div class='dropdown'
                                     data-type='BR'
                                     data-options='cochlea,auditory nerve,electrode array,implant,speech processor,headpiece,microphone'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step="8"
                                 data-correct-answer='cochlea'
                                 data-position-x='570' data-position-y='66'
                                 data-line='{ "x": 480,  "y": 171, "from": "left" }'
                                 data-label='Where are the electrical signals picked up?'>

                                <div class='dropdown'
                                     data-type='LB'
                                     data-options='cochlea,auditory nerve,electrode array,implant,speech processor,headpiece,microphone'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step="9"
                                 data-correct-answer='auditory nerve'
                                 data-position-x='570' data-position-y='172'
                                 data-line='{ "x": 510,  "y": 172, "from": "left" }'
                                 data-label='Where are the electrical signals picked up?'>

                                <div class='dropdown'
                                     data-type='OM'
                                     data-options='cochlea,auditory nerve,electrode array,implant,speech processor,headpiece,microphone'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step="10"
                                 data-correct-answer='electrode array'
                                 data-position-x='570' data-position-y='335'
                                 data-line='{ "x": 424,  "y": 280, "from": "top" }'
                                 data-label='Where are the electrical signals picked up?'>

                                <div class='dropdown'
                                     data-type='OM'
                                     data-options='cochlea,auditory nerve,electrode array,implant,speech processor,headpiece,microphone'>
                                </div>
                            </div>


                            <div class="text-box text-box-1">
                                <div data-step="3"
                                    data-position-x='25'
                                    data-position-y='180'
                                    style='width: 100px;'>
                                    <p><span style="font-weight: bold">1.</span> A microphone implanted just behind the ear picks up sound from the surrounding environment. </p>
                                </div>
                                <div data-step="5"
                                    data-position-x='381'
                                    data-position-y='345'
                                    style='width: 190px;'>
                                    <p><span style="font-weight: bold">2.</span> A speech processor, attached to the implant and worn outside the body, selects and arranges the sound picked up by the microphone.</p>
                                </div>
                                <div data-step="7"
                                    data-position-x='256'
                                    data-position-y='0'
                                    style='width: 185px;'>
                                    <p><span style="font-weight: bold">3.</span> The implant itself is a transmitter and receiver, converting the signals from the speech processor into electrical impulses.</p>
                                </div>
                                <div data-step="11"
                                    data-position-x='459'
                                    data-position-y='0'
                                    style='width: 185px;'>
                                    <p><span style="font-weight: bold">4.</span> The electrical impulses are collected by the electrode array in the cochlea and sent to the brain.</p>
                                </div>
                            </div>

                            <div class='feedback' aria-live='assertive' aria-relevant='additions'></div>
                        </div>
                    </section>
                    <footer class="widget-footer">
                        <button class="btnStart">Check Your Understanding</button>
                        <button class="btnReset" disabled="disabled">Start Over</button>
                    </footer>
                </article>
            </div>
            <div class="shout offscreen" aria-live="assertive"></div>
        </div>


        <script type='text/javascript' src='javascript/script.js'></script>
        <script type="text/javascript">
            window.addEvent('domready', function() {
                window.widget_instance = new VisualQuiz({
                    container: $$('.container')[0]
                });
            });
        </script>
    </body>
</html>
