<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8"><link rel="stylesheet" href="../_framework/_base_pearson/redSerif.css"></head><body epub:type="bodymatter" class="bodymatter">
        <section class="chapter" epub:type="chapter"><section class="bodymatter"><!-- REMEMBER TO CHANGE WIDGET PATH FROM ../* TO widgets/* --><!-- START EMBED CODE --><figure id="fig2-6"><header><h1 class="title">
                        Figure 2.6
                    </h1>
                    <p class="subtitle">The Spinal Cord Reflex</p>
                </header><div class="lc_ec_image lc_ec_image_1">
                   <iframe class="gadget" src="index.html" type="text/html" height="539" data-minheight="539" width="770" data-minwidth="770" lang="en-us" title="" data-responsivedesigned="no" data-lmsrequired="no" data-offlinesupport="yes" data-displaytarget="embed" data-chapter="0"></iframe>
                </div>
                <figcaption><div class="caption">
                        The pain from the burning heat of the candle flame stimulates the afferent nerve fibers, which carry the message up to the interneurons in the middle of the spinal cord. The interneurons then send a message out by means of the efferent nerve fibers, causing the hand to jerk away from the flame.
                    </div>
                </figcaption></figure><!-- END EMBED CODE --></section></section></body></html>
