<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="styles/template.css">
        <link rel="stylesheet" href="../_framework/_base_pearson/button-bar.css">
        <link rel="stylesheet" href="styles/style.css">
        <script src="../_framework/_base_pearson/config.js" type="text/javascript" charset="utf-8"></script>
        <script src="../_framework/_base_external/mootools-core-1.5.0-full-compat-yc_with-mootools-more-flashcards-fix.js" type="text/javascript" charset="utf-8"></script>
        <script src='../_framework/_base_pearson/responsive.js' type='text/javascript'></script>
        <script src='../_framework/_base_pearson/score.js' type='text/javascript'></script>
    </head>

    <body>
        <div class='container'>
            <div class="MetrodigiWidget">
                <article class="widget-content">
                    <header class="widget-header">
                        <div class="notes" id="notes">
                            <div tabindex='0' class='note' data-stage="initial">Study the steps involved in the spinal cord reflex, then <span class="responsive-call-to-action">tap or click</span> “Check Your Understanding” when you are ready to review.</div>
                            <div tabindex='0' class='note current-question' data-stage="quiz">Identify the first part of the nervous system involved in the spinal cord reflex.</div>
                            <div class='note result' data-stage="result"></div>
                        </div>
                    </header>
                    <section class="widget-body no-padding">
                        <div class='stageWrap'>
                            <canvas class='imgCanvas' width="700" height="424"  >
                                <!--An anatomical illustration of a person touching a flame with their finger. Sensory neurons start at the fingertip and go to the brain and spinal cord. Motor neurons originate in the spinal cord and go to the arm muscle. Interneurons start and stop within the spinal cord. A graphical cross section of the spinal cord shows neuron connections in the spinal cord.-->
                            </canvas>
                            <img class="imagedescription" src="images/spinal-step-5.jpg" width="0" height="0" alt="A transparent graphic of a person touching a flame with their finger. Sensory neurons start at the finger tip and go to the brain and spinal cord. Motor neurons originate in the spinal cord and go to the arm muscle. Interneurons start and stop within the spinal cord. A graphical cross section of the spinal cord shows neuron connections within the spinal cord."  />

                            <div class="text-box">
                                    <div data-step='1'
                                        data-position-x='25'
                                        data-position-y='273'
                                        aria-live='assertive'
                                        style="width: 150px;">
                                        <p><span style="font-weight: bold;">1.</span> Flame stimulates pain receptors (sensory neurons).</p>
                                    </div>
                                    <div data-step='4'
                                        data-position-x='480'
                                        data-position-y='5'
                                        aria-live='assertive'
                                        >
                                        <p><span style="font-weight: bold">2.</span> Sensory neurons excite interneurons in the dorsal gray portion of the spinal cord.</p>
                                    </div>
                                    <div data-step='7'
                                        data-position-x='480'
                                        data-position-y='280'
                                        aria-live= 'assertive'
                                        >
                                        <p><span style="font-weight: bold">3.</span> Interneurons excite motor neurons in the ventral gray portion of the spinal cord.</p>
                                    </div>
                                    <div data-step='9'
                                        data-position-x='297'
                                        data-position-y='391'
                                        aria-live= 'assertive'
                                        >
                                        <p><span style="font-weight: bold">4.</span> Motor nerves exit the spinal cord, excite the muscle, and initiate a movement.</p>
                                    </div>
                            </div>

                            <div class='bubble'
                                 data-step='2'
                                 data-correct-answer='sensory neurons'
                                 data-position-x='135'
                                 data-position-y='170'
                                 data-line='{ "x": 135, "y": 345, "from": "bottom" }'
                                 data-label='Identify the first part of the nervous system involved in the spinal cord reflex.'
                                 data-alt='nerve traveling up the arm'>

                                <div class='dropdown'
                                     data-type='OL'
                                     data-options='motor neurons,interneurons,sensory neurons,spinal cord cross-section'
                                     >
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step='3'
                                 data-correct-answer='sensory neurons'
                                 data-position-x='135'
                                 data-position-y='47'
                                 data-line='{ "x": 195, "y": 47, "from": "right" }'
                                 data-alt="nerve traveling up the arm">

                                <div class='dropdown'
                                     data-type='BL'
                                     data-options='motor neurons,interneurons,sensory neurons,spinal cord cross-section'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step='5'
                                 data-correct-answer='spinal cord cross-section'
                                 data-position-x='570'
                                 data-position-y='90'
                                 data-line='{ "x": 455, "y": 90, "from": "left" }'
                                 data-alt="spinal cords cross section">

                                <div class='dropdown'
                                     data-type='BL'
                                     data-options='motor neurons,interneurons,sensory neurons,spinal cord cross-section'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step='6'
                                 data-correct-answer='interneurons'
                                 data-position-x='480'
                                 data-position-y='168'
                                 data-line='{ "x": 400,  "y": 80, "from": "left" }'
                                 data-alt='at the middle of path through the spinal cord'>

                                <div class='dropdown'
                                     data-type='BL'
                                     data-options='motor neurons,interneurons,sensory neurons,spinal cord cross-section'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step='8'
                                 data-correct-answer='motor neurons'
                                 data-position-x='344'
                                 data-position-y='224'
                                 data-line='{ "x": 344, "y": 137, "from": "top" }'
                                 data-alt="nerve connecting interneuron in spinal to muscle">

                                <div class='dropdown'
                                     data-type='TL'
                                     data-options='motor neurons,interneurons,sensory neurons,spinal cord cross-section'>
                                </div>
                            </div>

                            <div class='bubble'
                                 data-step='10'
                                 data-correct-answer='motor neurons'
                                 data-position-x='248'
                                 data-position-y='284'
                                 data-line='{ "x": 248, "y": 156, "from": "top" }'
                                 data-alt="nerve terminating in muscle within the biceps">

                                <div class='dropdown'
                                     data-type='TL'
                                     data-options='motor neurons,interneurons,sensory neurons,spinal cord cross-section'>
                                </div>
                            </div>

                        </div>
                        <div class='feedback' aria-live='assertive' aria-relevant='additions'></div>
                    </section>
                    <footer class="widget-footer">
                        <button class="btnStart">Check Your Understanding</button>
                        <button class="btnReset hidden">Start Over</button>
                    </footer>
                </article>
            </div>
        </div>

        <script type='text/javascript' src='javascript/script.js'></script>
        
        <script type="text/javascript">
            window.addEvent('domready', function() {
                window.widget_instance = new VisualQuiz({
                    container: $$('.container')[0]
                });
            });
        </script>
    </body>
</html>
