ol {
    list-style: decimal;
    font-family: "HelveticaNeueETW01-75Bd";
    margin-left: 2.5em;
    margin-top: .5em;
}
ol p {
    font-size: 1.2em;
    line-height: 1.1;
}


.stageWrap {
    position: relative;
    width: 700px;
    margin: auto;
}
.MetrodigiWidget section.widget-body{
    padding-top: 10px !important;
}
.MetrodigiWidget section.widget-body .feedback {
    text-align: left;
    width: 240px;
    left: 12px;
    bottom: 10px;
    top: auto;
    padding-left: 0;
}

.bubble {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 51px;
}

.bubbleState1, .bubbleState2, .bubbleState3 {
    width: 100px;
    height: 100px;
    border-radius: 51px;
    text-align: center;
    vertical-align: text-bottom;
    display: none;
}

.bubble[data-state='1'] .bubbleState1 {
    display: block;
}

.bubble[data-state='2'] .bubbleState2 {
    display: block;
}

.bubble[data-state='3'] .bubbleState3 {
    display: block;
}

.bubbleState1 {
    cursor: pointer;
    background-color: rgb(101, 144, 162);
    color: #fff;
}

.bubbleState1 div {
    padding: 3px 0 0 0;
}

.bubbleState1 .questionMark {
    font-size: 2.2em;
    padding: 0.55em 0 0.35em;
}

.bubbleState2 {
    background-color: rgb(166, 170, 169);
    cursor: pointer;
}

.bubbleState2 div {
    padding: 17px 0 0 0;
}

.bubbleState2 .questionMark {
    font-size: 3.3em;
    color: #fff;
    padding-top: 0.7em;
}

.stageWrap.quiz-mode .bubbleState3 {
    border: 2px solid black;
    background-color: #dedede;
}

/* dropdown */
.answer {
    padding: 0;
    text-align: center;
}

.dropdown {
    position: absolute;
    background-color: black;
    z-index: 2000;
    box-shadow: 5px 5px 5px #888888;
    display: none;
}

.bubble[data-state='2'] .dropdown {
    display: block;
}

.option {
    position: relative;
    width: 220px;
    padding: 8px 0 8px 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.option a {
    color: white;
    display: block;
    text-decoration: none;
}

.optBlock {
    font-family: "HelveticaNeueETW01-75Bd";
    padding-top: 5px;
}

.optIcon {
    position: absolute;
    right: 8px;
    top: 8px;
    width:  14px;
    height: 14px;
    padding-top: 4px;
    background-repeat: no-repeat;
    background-size: 14px;
    background-position:center;
}


.option[data-state=no] {
    color:  #f54646;
}

.option[data-state=no] .optIcon {
    background-image:url('../../_framework/_base_pearson/images/quiz-x-mark@2x.png');
    background-size: 14px 14px;
}

.option[data-state=yes] {
    color: rgb(113, 191, 68);
}

.option[data-state=yes] .optIcon {
    background-image:url('../../_framework/_base_pearson/images/quiz-check-mark@2x.png');
}

.option:nth-child(1) {
    border-top: 1px solid white;
}

/*------- set all bubble and dropdown positions -------------------------------------------*/

.dropdownBM {
    top: 90px;
    left: -32px;
}
.dropdownOM {
    top: -99px;
    left: -32px;
}

/*-------------------------------------------------------------*/


.dropdownBM:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0px;
    left: 71px;
    top: -22px;
    border: 11px solid;
    border-color: transparent transparent #fff transparent;
}

.dropdownBM:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0px;
    left: 71px;
    top: -20px;
    border: 11px solid;
    border-color: transparent transparent #000 transparent;
}

.dropdownOM:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0px;
    left: 71px;
    top: 91px;
    border: 11px solid;
    border-color:#fff transparent transparent transparent;
}

.dropdownOM:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0px;
    left: 71px;
    top: 89px;
    border: 11px solid;
    border-color: #000 transparent transparent transparent;
}




/*-------------------------------------------------------------*/


.text-box div {
    position: absolute;
    width: 170px;
}

.text-box div strong {
    position: absolute;
    left: -13px;
}


/*-------------------------------------------------------------*/


canvas {
    margin: 0 auto;
    display: block;
    background: url('../images/actsynth-3.png') no-repeat scroll 155px 0 transparent;
    background-size: contain;
}
.container[data-step="1"] canvas {
    background-image: url('../images/actsynth-1.png');
}
.container[data-step="2"] canvas {
    background-image: url('../images/actsynth-1.png');
}
.container[data-step="3"] canvas {
    background-image: url('../images/actsynth-2.png');
}
.container[data-step="4"] canvas {
    background-image: url('../images/actsynth-2.png');
}
.container[data-step="5"] canvas {
    background-image: url('../images/actsynth-3.png');
}
.container[data-step="6"] canvas {
    background-image: url('../images/actsynth-3.png');
}

/*-------------------------------------------------------------*/

.container .MetrodigiWidget .widget-header .notes .note[data-stage="initial"] { display: block; }
.container[data-step] .MetrodigiWidget .widget-header .notes .note[data-stage="initial"] { display: none; }
.container[data-step="1"] .MetrodigiWidget .widget-header .notes .note[data-stage="1"],
.container[data-step="2"] .MetrodigiWidget .widget-header .notes .note[data-stage="2"],
.container[data-step="3"] .MetrodigiWidget .widget-header .notes .note[data-stage="3"],
.container[data-step="4"] .MetrodigiWidget .widget-header .notes .note[data-stage="4"],
.container[data-step="5"] .MetrodigiWidget .widget-header .notes .note[data-stage="5"],
.container[data-step="6"] .MetrodigiWidget .widget-header .notes .note[data-stage="6"] { display: block; }
.container[data-step="6"] .MetrodigiWidget .widget-header .notes .note[data-stage="result"] { display: block; }

/*-------------------------------------------------------------*/

.quiz-mode [data-step] {
    display: none;
}
.MetrodigiWidget .hidden{
    display: none !important;
}