<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8"><link rel="stylesheet" href="../_framework/_base_pearson/redSerif.css"></head><body epub:type="bodymatter" class="bodymatter">
        <section class="chapter" epub:type="chapter"><section class="bodymatter"><!-- REMEMBER TO CHANGE WIDGET PATH FROM ../* TO widgets/* --><!-- START EMBED CODE --><figure id="fig2-8"><header><h1 class="title">Figure 2.8</h1>
                    <p class="subtitle">Functions of the Parasympathetic and Sympathetic Divisions of the Nervous System</p>
                </header><div class="lc_ec_image lc_ec_image_1">
                    <iframe class="gadget" src="index.html" type="text/html" height="530" data-minheight="545" width="770" data-minwidth="770" lang="en-us" title="" data-responsivedesigned="no" data-lmsrequired="no" data-offlinesupport="yes" data-displaytarget="embed" data-chapter="0"></iframe>
                </div>
                <!-- <div class="lc_ec_img-only">
                    <img id="u36f8c" class="img-w-threshold" src="../../images/AAFHAWL0.png" alt="AAFHAWL0.png" />
                </div> -->
            </figure><!-- END EMBED CODE --></section></section></body></html>
