<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/template.css">
        <link rel="stylesheet" href="../_framework/_base_pearson/button-bar.css">
        <link rel="stylesheet" href="styles/style.css">
        <script src="../_framework/_base_pearson/config.js" type="text/javascript" charset="utf-8"></script>
        <script src="../_framework/_base_external/mootools-core-1.5.0-full-compat-yc_with-mootools-more-flashcards-fix.js" type="text/javascript" charset="utf-8"></script>
        <script src='../_framework/_base_pearson/responsive.js' type='text/javascript'></script>
    </head>
    <body>
        <div id='container'>
            <div class="MetrodigiWidget">
                <!--<button data-active="false" tabindex="0" aria-label="Start accessible experience" class="accessibility inactive"></button>-->
                <article class="widget-content">
                    <div id="shout" class="offscreen" aria-live="assertive"></div>
                    <section class="widget-body no-padding">
                        <div class="metronome-wrapper js-metronome-wrapper">
                            <div class="main">
                                <div class="instruction-header" tabindex="0">BEFORE CONDITIONING</div>

                                <div class="instructions" tabindex="0">
                                    <p><span class="sequence sequence_1"><strong><span class="responsive-call-to-action">Click or tap</span> the metronome</strong> to begin the process of conditioning.</span></p>
                                </div>
                                
                                <div class="metronome">
                                    <p class="text-left high" tabindex="0"><strong>Neutral Stimulus</strong><br/>(NS) Metronome</p>
                                    <div class="dome-container first high js-dome-container" tabindex="0" aria-label="Start Metronome" role="button">
                                        <div class="soundwave soundwave-left"></div>
                                        <div class="soundwave soundwave-right"></div>
                                        <div class="dome-main"></div>
                                        <div class="dome-mask"></div>
                                        <div class="dome-anim"></div>
                                    </div>
                                </div>
                                <div class="drop-container high">
                                    <div class="js-arrow arrow arrow-left"></div>
                                    <div class="js-arrow arrow arrow-right"></div>
                                    <div class="stage-title" tabindex="0">Conditioning</div>
                                </div>
                                <div class="js-arrow arrow-snap"></div>
                                <div class="js-canine canine high">
                                    <p class="text-right" tabindex="0"><strong class='no-salivation'></strong></p>
                                </div>

                            </div>

                            <div class="header">
                                <div class="drag-container">
                                    <div class="drag food disabled"></div>
                                </div>
                            </div>

                            <div class="footer">
                                <button class="metronome-next js-metronome-next" disabled tabindex="0">Next</button>
                            </div>
                        </div>

                        <div class="metronome-wrapper hidden js-metronome-wrapper">

                            <div class="main">
                                <div class="instruction-header" tabindex="0">DURING CONDITIONING</div>

                                <div class="instructions" tabindex="0">
                                    <p><span class="sequence sequence_2" aria-label="Show the dog the food"><strong>Drag and drop or tap</strong> the food in front of the dog.</span></p>
                                </div>
                                
                                <div class="directions js-directions directions-up"></div>
                                <div class="metronome">
                                    <div class="dome-container high js-dome-container" role="button">
                                        <div class="soundwave soundwave-left"></div>
                                        <div class="soundwave soundwave-right"></div>
                                        <div class="dome-main"></div>
                                        <div class="dome-mask"></div>
                                        <div class="dome-anim"></div>
                                    </div>
                                    <p class="text-left high" tabindex="0"><strong>Neutral Stimulus</strong><br/>(NS) Metronome</p>
                                </div>
                                <div class="drop-container high">
                                    <div class="js-arrow arrow arrow-left"></div>
                                    <div class="js-arrow arrow arrow-right"></div>
                                    <p class="middle-text"><strong>Unconditioned<br/>Stimulus</strong><br/>(UCS) Food</p>
                                </div>
                                <div class="js-canine canine high">
                                    <div class="js-drip">
                                        <img src="images/PavlovDogDrip.png" alt="drip" aria-hidden="true"/>
                                        <img src="images/PavlovDogDrip.png" alt="drip" aria-hidden="true"/>
                                        <img src="images/PavlovDogDrip.png" alt="drip" aria-hidden="true"/>
                                    </div>
                                    <p class="text-right" tabindex="0"><strong class='no-salivation'></strong></p>
                                </div>
                            </div>

                            <div class="header">
                                <div class="drag-container">
                                    <div class="drag food" tabindex="0" aria-label="Move food in front of dog" role="button"></div>
                                </div>
                            </div>

                            <div class="footer">
                                <button class="metronome-next js-metronome-next" disabled tabindex="0">Next</button>
                            </div>
                        </div>

                        <div class="metronome-wrapper hidden js-metronome-wrapper">

                            <div class="main">
                                <div class="instruction-header instruction-header_3" tabindex="0">DURING CONDITIONING</div>

                                <div class="instructions" tabindex="0" aria-label="Take the food away from the dog">
                                    <p><span class="sequence sequence_3"><strong>Drag and drop or tap</strong> the food away from the dog.</span></p>
                                </div>
                                
                                <div class="directions js-directions "></div>
                                <div class="metronome">
                                    <div class="dome-container high js-dome-container" role="button">
                                        <div class="soundwave soundwave-left"></div>
                                        <div class="soundwave soundwave-right"></div>
                                        <div class="dome-main"></div>
                                        <div class="dome-mask"></div>
                                        <div class="dome-anim"></div>
                                    </div>
                                    <p class="text-left high metronome_txt" tabindex="0"><strong>Neutral Stimulus</strong><br/>(NS) Metronome</p>
                                </div>
                                <div class="js-canine canine high">
                                    <div class="js-drip">
                                        <img src="images/PavlovDogDrip.png" alt="drip" aria-hidden="true"/>
                                        <img src="images/PavlovDogDrip.png" alt="drip" aria-hidden="true"/>
                                        <img src="images/PavlovDogDrip.png" alt="drip" aria-hidden="true"/>
                                    </div>
                                    <p class="text-right" tabindex="0"><strong>Unconditioned<br/>Response</strong><br/>(UCR) Salivation</p>
                                </div>
                                <div class="drop-container high">
                                    <p class="middle-text"><strong>Unconditioned<br/>Stimulus</strong><br/>(UCS) Food</p>
                                    <div class="drag food" tabindex="0" role="button" aria-label="take away the food"></div>
                                </div>
                                <div class="js-arrow arrow-snap"></div>
                            </div>

                            <div class="header">
                                <div class="drag-container return-drag">

                                </div>
                            </div>

                            <div class="footer">
                                <button class="js-dome-reset hidden" tabindex="0">Reset</button>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
        <script src="javascript/script.js"></script>
    </body>
</html>