<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8"><link rel="stylesheet" href="../_framework/_base_pearson/redSerif.css"></head><body epub:type="bodymatter" class="bodymatter">
        <section class="chapter" epub:type="chapter"><section class="bodymatter"><!-- REMEMBER TO CHANGE WIDGET PATH FROM ../* TO widgets/* --><!-- START EMBED CODE --><figure><header><h1 class="title">
                        <span class="leadin">
                            <span class="label">Survey</span>
                        </span>
                    </h1>
                    <p class="subtitle">What Is Intelligence?</p>
                </header><div class="lc_ec_image lc_ec_image_1">
                   <iframe class="gadget" src="index.html" height="538" width="735" lang="en-us" title="What Is Intelligence?" data-responsivedesigned="no" data-minheight="515" data-minwidth="770" data-lmsrequired="no" data-offlinesupport="yes" data-displaytarget="embed">
                        <!-- <p class="fallback">There is on error on the page. iframe path cannot be found or minimum height/width attributes are insufficient.</p> -->
                    </iframe>
                </div>
            </figure><!-- END EMBED CODE --></section></section></body></html>
